name: check-format

on:
  push:
    branches: [main]

  pull_request:
    branches: [main]

permissions:
  contents: read
  pull-requests: write

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Pixi
        uses: prefix-dev/setup-pixi@v0.9.3
        with:
          pixi-version: v0.61.0
          environments: develop
          activate-environment: true
          cache: true
          locked: true

      - name: Run check
        id: precommit
        run: pixi run format
        continue-on-error: true

      - name: Auto correct
        uses: huacnlee/autocorrect-action@main
        with:
          args: --lint ./docs
        continue-on-error: true

      - name: Suggest changes
        uses: reviewdog/action-suggester@v1
        with:
          tool_name: "fmt"
          fail_on_error: true
