name: cmake

on:
  push:
    branches: [main]
    paths:
      - ".github/workflows/cmake.yml"
      - "include/**"
      - "src/**"
      - "tests/**"
      - "CMakeLists.txt"
  pull_request:
    branches: [main]
    paths:
      - ".github/workflows/cmake.yml"
      - "include/**"
      - "src/**"
      - "tests/**"
      - "config/**"
      - "CMakeLists.txt"

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-2025
            build_type: RelWithDebInfo
            cc: clang
            cxx: clang++
          - os: ubuntu-24.04
            build_type: Debug
            cc: clang
            cxx: clang++
          - os: macos-15
            build_type: Debug
            cc: clang
            cxx: clang++

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Pixi
        uses: prefix-dev/setup-pixi@v0.8.1
        with:
          pixi-version: v0.39.0
          environments: develop
          activate-environment: true
          cache: true
          locked: true

      - name: Build clice
        shell: bash
        run: |
          cmake -B build -G Ninja \
            -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} \
            -DCMAKE_C_COMPILER=${{ matrix.cc }} \
            -DCMAKE_CXX_COMPILER=${{ matrix.cxx }} \
            -DCLICE_ENABLE_TEST=ON \
            -DCLICE_CI_ENVIRONMENT=ON
            -DCMAKE_OSX_DEPLOYMENT_TARGET=15.0

          cmake --build build

      - name: Run tests
        shell: bash
        run: |
          EXE_EXT=""
          if [[ "${{ runner.os }}" == "Windows" ]]; then
            EXE_EXT=".exe"
          fi

          ./build/bin/unit_tests${EXE_EXT} --test-dir="./tests/data"
          uv run --project tests pytest -s --log-cli-level=INFO tests/integration --executable=./build/bin/clice${EXE_EXT}
