name: vscode

on:
  push:
    tags: ["v*"]
    branches: ["main"]
  pull_request:
    branches: ["main"]
    paths:
      - "editors/vscode/**"
      - .github/workflows/publish-vscode.yml

jobs:
  publish-vscode:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    defaults:
      run:
        working-directory: editors/vscode
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Pixi
        uses: prefix-dev/setup-pixi@v0.9.3
        with:
          pixi-version: v0.61.0
          environments: node
          activate-environment: true
          cache: true
          locked: true

      - name: Publish and Package to Marketplace
        env:
          VSCE_PAT: ${{ secrets.VSCE_PAT }}
        run: |
          FLAG="${{ contains(github.ref_name, '-') && '--pre-release' || '' }}"
          pixi run build-vscode $FLAG

          if [[ "${{ github.ref }}" == "refs/tags/"* ]]; then
            pixi run publish-vscode -p "$VSCE_PAT" $FLAG
          fi

      - name: Upload .vsix to Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: "editors/vscode/*.vsix"
          tag_name: ${{ github.ref }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
